.pageContainer {
    background-size: cover;
    background-position: center;
    background-image: url(../js/dogs_background.jpg);
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: inline-block;
}

.pageContent {
    opacity: 0.8;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardStyle {
    flex: 1;
    padding: 15px;
    flex-direction: row;
    width: 100%;
}

.darkColumn {
    border-color: black;
    border: 10px;
}